In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import requests
import json
import prettytable
import xmltodict, json
from pandas.io.json import json_normalize
from password import password, username

## Store CSV into DataFrame

In [2]:
data_file = "Resources/2015.xlsx"
data2015_df = pd.read_excel(data_file)
data2015_df.head()

,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,2015,A,County,New Jersey,"Atlantic County, New Jersey",Total Covered,"Total, all industries",NaN,6403,124905,5459761042,841,43711,1.00,1.00
1,2015,A,County,New Jersey,"Atlantic County, New Jersey",Federal Government,"Total, all industries",NaN,53,2580,245039710,1827,94989,1.05,1.54
2,2015,A,County,New Jersey,"Atlantic County, New Jersey",State Government,"Total, all industries",NaN,57,3556,223714783,1210,62913,0.87,1.19
3,2015,A,County,New Jersey,"Atlantic County, New Jersey",Local Government,"Total, all industries",NaN,131,14773,866925447,1128,58681,1.19,1.78
4,2015,A,County,New Jersey,"Atlantic County, New Jersey",Private,"Total, all industries",NaN,6162,103996,4124081102,763,39656,0.98,0.89

In [3]:
data_file = "Resources/2016.xlsx"
data2016_df = pd.read_excel(data_file)
data2016_df.head()

,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,2016,A,County,New Jersey,"Atlantic County, New Jersey",Total Covered,"Total, all industries",NaN,6455,124840,5522248747,851,44235,1.00,1.00
1,2016,A,County,New Jersey,"Atlantic County, New Jersey",Federal Government,"Total, all industries",NaN,52,2588,249997192,1858,96617,1.05,1.57
2,2016,A,County,New Jersey,"Atlantic County, New Jersey",State Government,"Total, all industries",NaN,58,3487,211822686,1168,60742,0.87,1.12
3,2016,A,County,New Jersey,"Atlantic County, New Jersey",Local Government,"Total, all industries",NaN,129,14239,841002877,1136,59063,1.16,1.71
4,2016,A,County,New Jersey,"Atlantic County, New Jersey",Private,"Total, all industries",NaN,6216,104526,4219425992,776,40367,0.99,0.90

In [4]:
data_file = "Resources/2017.xlsx"
data2017_df = pd.read_excel(data_file)
data2017_df.head()

,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,2017,A,County,New Jersey,"Atlantic County, New Jersey",Total Covered,"10 Total, all industries",NaN,6474,123400,5612190954,875,45480,1.00,1.00
1,2017,A,County,New Jersey,"Atlantic County, New Jersey",Federal Government,"10 Total, all industries",NaN,52,2585,256251877,1907,99143,1.08,1.61
2,2017,A,County,New Jersey,"Atlantic County, New Jersey",State Government,"10 Total, all industries",NaN,58,3504,211390874,1160,60330,0.88,1.10
3,2017,A,County,New Jersey,"Atlantic County, New Jersey",Local Government,"10 Total, all industries",NaN,131,13935,837728876,1156,60117,1.16,1.70
4,2017,A,County,New Jersey,"Atlantic County, New Jersey",Private,"10 Total, all industries",NaN,6234,103377,4306819327,801,41661,0.98,0.90

In [5]:
data_file = "Resources/2018.xlsx"
data2018_df = pd.read_excel(data_file)
data2018_df.head()

,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,2018,A,County,New Jersey,"Atlantic County, New Jersey",Total Covered,"10 Total, all industries",NaN,6485,126911,5923890055,898,46678,1.00,1.00
1,2018,A,County,New Jersey,"Atlantic County, New Jersey",Federal Government,"10 Total, all industries",NaN,51,2518,267336189,2042,106177,1.04,1.62
2,2018,A,County,New Jersey,"Atlantic County, New Jersey",State Government,"10 Total, all industries",NaN,57,3477,219487248,1214,63122,0.87,1.10
3,2018,A,County,New Jersey,"Atlantic County, New Jersey",Local Government,"10 Total, all industries",NaN,131,13767,845805402,1181,61436,1.12,1.64
4,2018,A,County,New Jersey,"Atlantic County, New Jersey",Private,"10 Total, all industries",NaN,6246,107148,4591261216,824,42850,0.99,0.91

## Merge the files

In [6]:
frames = [data2015_df,data2016_df,data2017_df,data2018_df]
result = pd.concat(frames)
result

,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,2015,A,County,New Jersey,"Atlantic County, New Jersey",Total Covered,"Total, all industries",NaN,6403,124905,5459761042,841,43711,1.00,1.00
1,2015,A,County,New Jersey,"Atlantic County, New Jersey",Federal Government,"Total, all industries",NaN,53,2580,245039710,1827,94989,1.05,1.54
2,2015,A,County,New Jersey,"Atlantic County, New Jersey",State Government,"Total, all industries",NaN,57,3556,223714783,1210,62913,0.87,1.19
3,2015,A,County,New Jersey,"Atlantic County, New Jersey",Local Government,"Total, all industries",NaN,131,14773,866925447,1128,58681,1.19,1.78
4,2015,A,County,New Jersey,"Atlantic County, New Jersey",Private,"Total, all industries",NaN,6162,103996,4124081102,763,39656,0.98,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,2018,A,County,New Jersey,"Unknown Or Undefined, New Jersey",Private,1024 Professional and business services,NaN,8117,58312,5045579827,1664,86527,3.25,2.12
392,2018,A,County,New Jersey,"Unknown Or Undefined, New Jersey",Private,1025 Education and health services,NaN,1118,6781,511856386,1452,75484,0.35,0.30
393,2018,A,County,New Jersey,"Unknown Or Undefined, New Jersey",Private,1026 Leisure and hospitality,NaN,472,1867,196081708,2020,105048,0.13,0.33
394,2018,A,County,New Jersey,"Unknown Or Undefined, New Jersey",Private,1027 Other services,NaN,754,2392,166961289,1342,69790,0.62,0.63
395,2018,A,County,New Jersey,"Unknown Or Undefined, New Jersey",Private,1029 Unclassified,NaN,6889,7130,719947810,1942,100979,64.75,64.75

## Create new data with select columns

In [7]:
new_data_df = result[['Year', 'Area','Industry','Annual Average Establishment Count','Annual Average Employment','Annual Total Wages','Annual Average Weekly Wage','Annual Average Pay']].copy()
new_data_df.head()

,Year,Area,Industry,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay
0,2015,"Atlantic County, New Jersey","Total, all industries",6403,124905,5459761042,841,43711
1,2015,"Atlantic County, New Jersey","Total, all industries",53,2580,245039710,1827,94989
2,2015,"Atlantic County, New Jersey","Total, all industries",57,3556,223714783,1210,62913
3,2015,"Atlantic County, New Jersey","Total, all industries",131,14773,866925447,1128,58681
4,2015,"Atlantic County, New Jersey","Total, all industries",6162,103996,4124081102,763,39656

In [8]:
new_data_df[['county','state']] = new_data_df['Area'].str.split(',',expand=True)
new_data_df.head()

,Year,Area,Industry,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,county,state
0,2015,"Atlantic County, New Jersey","Total, all industries",6403,124905,5459761042,841,43711,Atlantic County,New Jersey
1,2015,"Atlantic County, New Jersey","Total, all industries",53,2580,245039710,1827,94989,Atlantic County,New Jersey
2,2015,"Atlantic County, New Jersey","Total, all industries",57,3556,223714783,1210,62913,Atlantic County,New Jersey
3,2015,"Atlantic County, New Jersey","Total, all industries",131,14773,866925447,1128,58681,Atlantic County,New Jersey
4,2015,"Atlantic County, New Jersey","Total, all industries",6162,103996,4124081102,763,39656,Atlantic County,New Jersey

## BLS API

In [9]:
## Full Table
headers = {'Content-type': 'application/json'}

data = json.dumps({"seriesid": ['LNS11000000'],"startyear":"2015", "endyear":"2019"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        #if 'M01' <= period <= 'M12':'
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

ConnectionError: ('Connection aborted.', OSError("(10054, 'WSAECONNRESET')"))

In [ ]:
# Employment


headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": [' LNS12000000'],"startyear":"2015", "endyear":"2019"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        #if 'M01' <= period <= 'M12':'
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [ ]:
# Unemployment

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": [' LNS13000000'],"startyear":"2015", "endyear":"2019"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        #if 'M01' <= period <= 'M12':'
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [ ]:
emp_df1 = pd.DataFrame.from_dict(json_normalize(json_data), orient='columns')
emp_df2 = pd.DataFrame(emp_df1['Results.series'][0])
df_emp_data = pd.DataFrame(emp_df2['data'][0])

## Zillow API

In [10]:
zill_url="http://www.zillow.com/webservice/GetRegionChildren.htm?zws-id=X1-ZWz17giky9jf9n_43hp8&state=nj"
response_zill = requests.get(zill_url).content
resp_zill = xmltodict.parse(response_zill)

json.dumps(resp_zill)
regionchildren_df = pd.DataFrame.from_dict(json_normalize(resp_zill), orient='columns')
regionchildren_df.rename(columns=lambda x: x[30:], inplace=True)
regionchildren_df.head(5)

region_list = pd.DataFrame(regionchildren_df['response.list.region'][0])
#dropna and reset index
region_list.dropna(how="any", inplace=True)
region_list.reset_index(drop=True, inplace=True)

region_list["USD"] = [d.get('#text') for d in region_list.zindex]

region_list = region_list.drop(["zindex"], axis=1)
region_list

      id               name   latitude   longitude     USD
0    874      Bergen County  40.948055   -74.08323  424000
1   2802   Middlesex County  40.430013  -74.416894  293300
2   1106      Hudson County  40.732859  -74.075484  321000
3   2441    Monmouth County  40.302335  -74.249293  375700
4    659       Ocean County  39.823776  -74.259258  255700
5    771       Union County  40.665566  -74.300026  304100
6    911      Camden County  39.802185  -74.938069  161500
7   1964     Passaic County  41.011428  -74.304838  290000
8   1241      Morris County  40.867759  -74.578194  418700
9   2896  Burlington County  39.862536  -74.724851  212300
10  1201      Mercer County    40.2805  -74.712054  224200
11  2552    Somerset County  40.566201  -74.599839  382500
12  2929  Gloucester County   39.70156  -75.163937  192100
13  2133    Atlantic County  39.509238  -74.608641  193300
14  2913  Cumberland County  39.312411  -75.148302  132400
15  1413      Sussex County  41.128282  -74.678955  215800
16  2729   Hunterdon County   40.56363  -74.948862  369100
17  1478      Warren County  40.843148  -74.985896  221400
18  2174    Cape May County   39.05652  -74.816695  329800
19   702       Salem County   39.57144  -75.312779  149000

In [11]:
#connect dataframes to sql
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/etl_project03')
engine.table_names()
new_data_df.to_sql(name='nj_counties', con=engine, if_exists='append', index=False)
region_list.to_sql(name='zillow', con=engine, if_exists='append', index=False)

#<employment_df>.to_sql(name='employment', con=engine, if_exists='append', index=False)

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
pd.read_sql_query('select * from nj_counties', con=engine).head()

In [ ]:
pd.read_sql_query('select * from zillow', con=engine).head()